*{
    box-sizing: border-box;
    left: 0;
    margin:0;
    padding: 0;
}
body{
    background-color: white;
    min-width: 1000px;
    box-sizing: border-box;
    
}

#main{
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
    overflow-y: scroll;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
    align-items: center;
}
#card_container{
    
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    max-width: 1120px;
    height: 250px;
    min-height: 250px;
    margin-top: 5%;
    margin: auto;
}
.card{
    background-color: #c2c2d6;
    font-weight: bold;
    height: 250px;
    font-family: 'Courier New', Courier, monospace;
    align-self: center;
    margin: auto;
    width: 250px;
    border-top-left-radius: 25px;
    border-color: black;
    border-width: 5px;
    box-sizing: border-box;
    box-shadow: black 0px 0px 4px 4px;
    transition: all 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
}
.card:hover{
    background-color: rgb(71, 68, 68);
    cursor: pointer;
    border-color: black;
    border-width: 5px;
    border-radius: 0px;
    scale: 1.01;
    box-shadow: 10px 10px black;
}
#footer{
    background-color: black;
    align-self: end;
    min-height: 50px;
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    padding-bottom:30px ;
}
.footer-para{
    padding: 3px;
}
.footer-para a{
    color:white;
    text-decoration: none;
}
.plan{
    margin: 40px 30px 10px 30px;
    font-weight: bold;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.price{
    margin: 10px 15px;
}
.txt{
    margin: auto;
    padding: 10px 0px;
    align-self: center;
    width: 75%;
    font-family: monospace;
    font-weight: bold;
    bottom: 0;
}
.description{
    margin-top: 15px;
    justify-content: right;
    font-family: 'Times New Roman', Times, serif;
}
#free_button,#pro_button,#ultimate_button{
    background-color: rgb(28, 27, 27);
    padding: 10px;
    border: none;
    color: white;
    font-family: monospace;
    margin-top: 10px;
    
}
#free_button,#ultimate_button{
    margin-top: 25px;
}
.order_selector,#order_main{
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    min-height: 50px;
    text-align: center;
}
.card_order{
    min-height: 30px;
    /* background-color: #f3f1f1; */
    margin-bottom: 15px;
    padding-top: 3px;
    display: flex;
    top: 0;
}
.main_card_order:hover{
    scale: 1.05;
    background-color: #e0e0e1;
}
.main_card_order{
    font-family: 'Times New Roman', Times, serif;
    margin: 15px 0px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    border:solid  white 2px;
    box-shadow: #e6e4e4 0px 0px 4px 4px;
}
#chai,#coffee,#Juices{
    visibility: collapse;
}
.card_txt{
    font-family: 'Times New Roman', Times, serif;
    align-self: center;
    margin: auto;
    padding: auto;
}
.dropdown{
    float: right;
}
.itemss{
    display: block;
    margin-top: 3px;
    align-items: center;
    width: 90%;
}
.item{
    display: flex;
    width: 90%;
    margin: auto;
    margin: 5px 0px;
    align-self: center;
}
.item_name{
    width: 20%;
    font-size: larger;
    font-weight: bold;
}
.item_des{
    width: 60%;
}
.input_qt_box{
    width: 20%;
}
.input_qt{
    margin: auto;
    width: 40px;
    min-height: 25px;
    align-self: center;
}
#btn_submit{
    height: 40px;
    width: 100px;
    transition: all 0.3s ease-in-out;
}
#btn_submit:hover{
    background-color: #c2c2d6;
}
#btn_submit_div,#btn_cart_div{
    margin-top: 20px;
}
.itemsss{
    margin: 15px 0px;
    width: 80%;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    
    border:solid  white 2px;
    box-shadow: #e6e4e4 0px 0px 4px 4px;
}
.order_name{
    width: 40%;
    font-size: larger;
    font-weight: bold;
}
.order_date{
    width: 30%;
}
.wasSuccess{
    width: 10%;
}
.link_payment{
    width: 20%;
}
.view_link{
    pointer-events: none;
    cursor: pointer;
}
#chai_list,#coffee_list,#Juice_list{
    display: none;
}
.alert {
    padding: 20px;
    width: 60%;
    min-width: 500px;
    background-color: #f44336;
    color: white;
    opacity: 0;
    display: none;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    transition: all 0.3s;
  }
  #description{
    font-size: small;
  }
.plan_implement{
    width: 40%;
    border-radius: 10px;
    min-height: 100px;
    margin: auto;
    align-self: center;
    border:solid  white 2px;
    box-shadow: #e6e4e4 0px 0px 4px 4px;
}
.timer{
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.plan_name{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
    bottom: 0;
    margin-left: 30px;
    color: #4b4535;
}
.days{
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: #dfd9c8;
}










/* nav bar */
.navbar{
    display:flex;
    height:80px;
    background-color:black;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    height:80px;
    width:80px;
    margin-right: 100px;
}
.logo-image{
    background-image: url('../images/download.png');
    background-size: cover;
    background-repeat: no-repeat;
    height:80px;
    width:180px;
}
.location{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height:40px;
    width:200px;
    border-radius: 30px;
}
.location-logo{
    color:white;
}
.location-name{
    color:white;
    margin-left: 10px;;
}
.search{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 30px;
    height:40px;
    width:400px;
}
.search-icon{
    color:white;
    font-size: 20px;
}
#search-bar{
    height: 38px;
    width:320px;
    margin-left: 10px;
    font-size: 1.2rem;
    text-align: center;
}
.navbar button{
    height: 40px;
    width:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 1rem;
}
.sign-name{
    margin-left: 10px;
}

/* menu bar */
.menu{
    background-color: #CEC8EF;
    height:60px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    font-weight:700;
    
}
.menu a{
    border: 2px solid black;
    border-radius: 10px;
    width:120px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:Black;
    text-decoration: none;
}
.menu-opt a.active , a:hover{
    font-size: 1.75rem;
    background-color:palevioletred;
    text-decoration: underline;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items:center;
}