*{
    box-sizing: border-box;
    left: 0;
    margin:0;
    padding: 0;
}
/* nav bar */
.navbar{
    display:flex;
    height:80px;
    background-color:black;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    height:80px;
    width:80px;
    margin-right: 100px;
}
.logo-image{
    background-image: url('../images/download.png');
    background-size: cover;
    background-repeat: no-repeat;
    height:80px;
    width:180px;
}
.location{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height:40px;
    width:200px;
    border-radius: 30px;
}
.location-logo{
    color:white;
}
.location-name{
    color:white;
    margin-left: 10px;;
}
.search{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 30px;
    height:40px;
    width:400px;
}
.search-icon{
    color:white;
    font-size: 20px;
}
#search-bar{
    height: 38px;
    width:320px;
    margin-left: 10px;
    font-size: 1.2rem;
    text-align: center;
}
.navbar button , .navbar button a{
    height: 40px;
    width:120px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 1rem;
}
.sign-name{
    margin-left: 10px;
}

/* menu bar */
.menu{
    background-color:#CEC8EF;
    height:60px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    font-weight:700;
    
}
.menu a{
    border: 2px solid black;
    border-radius: 10px;
    width:120px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:Black;
    text-decoration: none;
}
.menu-opt a.active , .menu-opt a:hover{
    font-size: 1.75rem;
    background-color:palevioletred;
    text-decoration: underline;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items:center;
}

header{
    position:sticky;
    top:0px;
    border: 2px solid black;
}

/* main1 */
.main1{
    background-image: url('../images/girl_drinking_juice.png');
    height:800px;
    background-size: cover;
    
}
.main1-text{
    height: 100px;
    width:500px;
    font-size: 2.5rem;
    display:flex;
    font-style: italic;
    color:rgb(73, 24, 126);
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 100px;
    padding-left: 100px;
}

/* quality */
.quality{
    height:200px;
    font-size: 6rem;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family:fantasy;
    background-color:darkkhaki;
    margin-top: 3px;
    border:2px solid yellowgreen;
    font-style: italic;
}

/* varities */
.varities{
    background-color:beige;
    margin-top: 3px;
}

.varities1{
    height:35vh;
    width:68vw;
    border:2px solid palevioletred;
    margin-top: 1px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:aliceblue;
    border-radius: 20px;
    padding-left: 20px;
    
}
.varities2{
    height:35vh;
    width:68vw;
    border:2px solid palevioletred;
    margin-left: 27.5vw;
    margin-top: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-right:20px;
    background-color:darkgray;
    border-radius: 20px;
}
.varities3{
    height:35vh;
    width:68vw;
    border:2px solid palevioletred;
    margin-top: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:paleturquoise;
    border-radius: 20px;
    padding-left: 20px;
}
.varities-image1{
    background-image: url('../images/coffee.jpg');
    background-size: contain;
    height:25vh;
    width:22vw;
}
.varities-image2{
    background-image: url('../images/Masala_tea_with_biscuit.jpg');
    background-size: contain;
    height:25vh;
    width:25.92vw;
}
.varities-image3{
    background-image: url('../images/juice.jpg');
    background-size: contain;
    height:29vh;
    width:22vw;
}
.varities-text{
    width:40vw;
    margin-left: 20px;
    margin-right:20px;
    height:27vh;
    /* border:2px dashed black; */
    padding:20px;
}
.varity-heading{
    font-size: 3rem;
    color:brown;
}
.varity-desc{
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:darkslategray;
    font-style: italic;
}
.explore{
    margin-left:30vw;
    margin-top:8vh;
    height:5vh;
    width:10vw;
    border-radius:10px;
    font-size: 1.25rem;
}


/* join prime */
.joinprime{
    height:400px;
    background-image: url('../images/shopping1.jpg');
    background-size: cover;
    margin-top: 3px;
    border:2px solid green;
}

.prime{
    font-size: 2rem;
    padding-left:100px;
    padding-top:30px;
    font-weight: 700;
    color:rgb(201, 88, 201);
}


.prime-benefits{
    font-size: 1.5rem;
    font-style: italic;  
    display:flex; 
    flex-direction: column;
}
.point{
    border-radius: 45%;
    width:600px;
    height:40px;
    margin-left: 150px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#point1{
    border: 2px solid green;
    margin-top: 30px;
    color:green;
    
}
#point2{
    border:2px solid brown;
    margin-top: 30px;
    color:brown;
}
#point3{
    border:2px solid blue;
    margin-top:30px;
    color:blue;
}
#point4{
    border:2px solid red;
    margin-top: 30px;
    color:red;
}

.joinprime .points{
    padding:15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* registration */
.registration{
    display:flex;
    justify-content: center;
    align-items: center;
    height:60px;
    background-color: antiquewhite;
    margin-top:3px;
    border: 2px solid palegoldenrod;
    
}
.registration-text{
    font-weight: 700;
    font-size: 2rem;
    
}
.registration-button{
    color:green;
    margin-left: 100px;
    font-size: 1.25rem;
    border-radius: 15px;
    height:40px;
    width:100px;
}


/* footer section */

#footer{
    background-color: black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:3px;
    width:100%;
}
.footer-para{
    padding: 3px;
}
.footer-para a{
    color:white;
    text-decoration: none;
}
