/* nav bar */
.navbar{
    display:flex;
    height:80px;
    background-color:black;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    height:80px;
    width:80px;
    margin-right: 100px;
}
.logo-image{
    background-image: url('download.png');
    background-size: cover;
    background-repeat: no-repeat;
    height:80px;
    width:180px;
}
.location{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height:40px;
    width:200px;
    border-radius: 30px;
}
.location-logo{
    color:white;
}
.location-name{
    color:white;
    margin-left: 10px;;
}
.search{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 30px;
    height:40px;
    width:400px;
}
.search-icon{
    color:white;
    font-size: 20px;
}
#search-bar{
    height: 38px;
    width:320px;
    margin-left: 10px;
    font-size: 1.2rem;
    text-align: center;
}
.navbar button , .navbar button a{
    height: 40px;
    width:120px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 1rem;
}
.sign-name{
    margin-left: 10px;
}

/* menu bar */
.menu{
    background-color: rgb(85, 156, 174);
    height:60px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    font-weight:700;
    
}
.menu a{
    border: 2px solid black;
    border-radius: 10px;
    width:120px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:Black;
    text-decoration: none;
}
.menu-opt a.active , .menu-opt a:hover{
    font-size: 1.75rem;
    background-color:palevioletred;
    text-decoration: underline;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items:center;
}

header{
    position:sticky;
    top:0px;
    border: 2px solid black;
}

/* about us */
.about_text{
    font-size: 2rem;
    font-family: cursive;
    font-weight:700;
    font-style: italic;
    margin-left: 50px;
    margin-top: 30px;
}

.about_person{
    display:flex;
    justify-content: center;
    align-items: center;

}
.person1 , .person2 , .person3{
    margin:50px;
    border:4px solid brown;
    padding:30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}
.person-pic1{
    background-image: url('priyanshu.jpg');
    height: 200px;
    width:200px;
    background-size: cover;
}
.person-pic2{
    background-image: url('hemant.jpg');
    height: 200px;
    width:200px;
    background-size: cover;
}
.person-pic3{
    background-image: url('chirag.jpg');
    height: 200px;
    width:200px;
    background-size: cover;
}
.person-detail{
    font-size: 2rem;
}

.person-detail li{
    list-style:none;
}

/* footer section */

#footer{
    background-color: black;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:3px;
    width:100%;
}
.footer-para{
    padding: 3px;
}
.footer-para a{
    color:white;
    text-decoration: none;
}
